/* grid structure */

.container {
    max-width: 1440px;
    padding: 0 1rem;
    margin: auto;
}

.row {
    display: flex;
}

.col-5 {
    width: calc(100%/12)*5;
}

.col-4 {
    width: calc(100%/12)*4;
}

.col-50 {
    width: 50%;
}